@import url(./reset.css);
@import url(remixicon/fonts/remixicon.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #282828;
	--background2: #343434;
	--background3: #4D4D4D;
	--background4: #3E3E3E;

	--font-color: #E2E2E2;
	--font-color2: #BDBDBD;
	--font-color3: #bdbdbdb1;

	--blue: #319CFF;
	--blue-btn: #1D619F;
	--green: #69FF66;
	--yellow: #FAFF00;

	--border-radius: 5px;
	--bar-thinkness: 36px;
	--footer-thinkness: 20px;

	--scrollbar-thinkness: 6px;
}

body {
	height: 100vh;
	font-size: 14px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: var(--font-color);
	background-color: var(--background);
	overflow: hidden;
	line-height: 1em;
}

a {
	text-decoration: none;
	color: var(--font-color2);
}

a:hover {
	color: var(--font-color);
}

/*===== CUSTOM SCROLLBAR =====*/
::-webkit-scrollbar {
	width: var(--scrollbar-thinkness);
}

/*---- le fleche kely @ scrollbar ty ----*/
::-webkit-scrollbar-button:vertical:decrement,
::-webkit-scrollbar-button:vertical:increment {
	width: 0;
	height: 5px;
}

/*---- ty le mihisakisaka ----*/
::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: var(--background2);
	/* background-color: var(--color); */
	opacity: 0;
}

/* ::-webkit-scrollbar-thumb:hover {
    opacity: 1;
} */
/*---- ty ndray le arrière plan ----*/
/* ::-webkit-scrollbar-track-piece {
	background-color: var(--background4);
} */

/*---- zay ny scrollbal custom ----*/

/* ================================== */